nz-footer {
  background: #f0f2f5;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  line-height: 64px;
  z-index: 999;
  border-top: 1px solid #d9d9d9;

  .footer-content {
    color: rgba(0, 0, 0, 0.45);
  }
}
