.app-layout {
  min-height: 100vh;
}

.content-layout {
  margin-top: 64px;
}

.inner-layout {
  margin-left: 256px;
  transition: margin-left 0.2s;

  &.collapsed {
    margin-left: 80px;
  }
}

nz-content {
  margin: 0;
  padding: 24px;
  min-height: calc(100vh - 128px);
  background: #f0f2f5;

  .content-wrapper {
    background: #fff;
    padding: 24px;
    min-height: calc(100vh - 176px);
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .inner-layout {
    margin-left: 0 !important;
  }
}
